<h1 class="section-title">Ask a question!</h1>


<form id="new-question" action="/questions" method="post">
  Title:<br>
  <input type="text" name="question[title]"><br>
  <br>
  <textarea name="question[body]" required></textarea><br>
  <button type="submit">Pour yourself a drink.</button>
</form>
