<div class = "new-form">
  <h1 class="section-title">Ask a question!</h1>


  <form id="new-question" action="/questions" method="post">
    Title:
    <input type="text" name="title" required>
  <textarea form ="new-question" name="body"></textarea>
    <button type="submit">Pour yourself a drink.</button>
  </form>
</div>
