.container {
  margin: 20px auto;
  padding: 0px 20px 20px 20px;
  border: 2px dotted purple;
  min-width: 800px;
  width: 75%;

}

#main-title{
    /*background-image: url('/images/neat_scotch.png');*/
    background-color: skyblue;
}

#main-title h1 {
  display: inline-block;
  margin-top: 0px;
  min-height: 50px;
  padding-left: 100px;
  color: #C19421;
/*  box-shadow: 10px 10px 30px;*/
}

#main-title span {
  display: inline-block;
  float: right;
}
h1{
  text-align:center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 3px;
  text-align: center;
  border: 1px solid red;
  background-color: red;
  border-radius: 6px;
}

.div-header {
  background-color: black;
  /*opacity: 0.6;*/
  min-height: 5%;
  height: 30px;
}

.image-container{
  width: 100%;
}

.new-form{
  width: 750px;
  /*float:left;*/
  display: inline-block;
}

nav ul {
  margin: 0px;
  float: right;
  text-align: center;
}

input[type=text], input[type=password], textarea {
  color: #05724f;
}

button {
  width: 100%;
  background-color: lightgreen;
  border: none;
  color: black;
  padding: 8px 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #e8e8e8;
  font-size: 1.5em;
}


.section-title {
  text-align: center;
}

.error {
  text-align: center;
  color: red;
  font-size: 24px;
}

.delete {
  background: none;
  border: none;
  font-size: 1em;
  color: blue;
  padding: 0px;
  text-decoration: underline;
}

.inline {
  display: inline;
}

.list {
  list-style-type:none;
  display:block;
  margin: 1em;
}

a {
  text-decoration: none;
}

.votes, .answers, .views{
  display:inline-block;
  text-align: center;
  padding:5px;
}

.votes, .answers, .views{
  color: gray;
  vertical-align: middle;
}

.votes:hover, .answers:hover, .views:hover{
  background-color: lightgray;
}

a:hover{
  text-decoration: underline;
}

.summary{
    border-bottom: 1px solid black;
    width: 100%;
}

.title{
  width: 75%;
  text-align: left;
  display:inline-block;
  padding-left: 1.5em;
}

.comment {
  border-bottom: 1px solid gray;
  padding: 5px;
}

.status {
  color: gray;
  float:right;

}

.statistics {
  color: gray;
  font-size: .5em;
}

.mini {
  display: inline-block;
  width: 200;
  background-color: gold;
}

.author>div.mini {
  float: right;
}

.author{
  margin:2em;
  width: 75%;
}

article{
  width: 75%;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-family: Georgia serif;
  margin-bottom: 4em;
}

.answer{
  background-color: rgba(50,50,50,.1);
}

