.container {
  margin: 20px auto;
  padding: 0px 20px 20px 20px;
  border: 2px dotted purple;
  width: 75%;
}

nav {
  background-color: skyblue;
}

nav ul {
  margin: 0px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}

.delete {
  background: none;
  border: none;
  font-size: 1em;
  color: blue;
  padding: 0px;
  text-decoration: underline;
}

.inline {
  display: inline;
}

#question-list{
  list-style-type:none;
  display:block;
}

.title-text a{
  text-decoration: none;
}

.votes, .answers, .views, .title{
  display:inline-block;
  text-align: center;
  padding:5px;
}

.votes, .answers, .views{

  color: gray;
}

.question-summary{
    border-bottom: 1px solid black;
}
