<h1 class="section-title">Login to your Scotch Overflow account</h1>

<form action="/sessions" method="post">
  Email/Username:<br>
  <input type="text" name="user[email_or_username]" placeholder="email/username"><br>
  Password:<br>
  <input type="password" name="user[password]" placeholder="password"><br>
  <button type="submit">Log in!</button>
</form>
