<h1 class = "section-title">Register for your Scotch Overflow account today!</h1>
<% if @errors %>
  <% @errors.each do |error| %>
    <h3 class="error"><%= error %></h3>
  <% end %>
<% end %>
<form action="/users" method="post">
  Username:<br>
  <input type="text" name="user[username]"><br>
  Email:<br>
  <input type="text" name="user[email]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br>
  <button type="submit">Register!</button>
</form>
