<h1><%= @user.username %></h1>
<p><%= @user.email %></p>
  @user.avatar.current_path
<% if @user == current_user %>

<% end %>
<div class = "user-questions-data">
  <%= erb :'/users/_user_tables', locals: {column1: "Questions", user_data: @user.questions} %>
</div>

<div class = "user-answers-data">
  <%= erb :'/users/_user_tables', locals: {column1: "Submitted Answers to:", user_data: @user.answers} %>
</div>
