<h1>Login</h1>

<form action="/login" method="post">
  Email:<br>
  <input type="text" name="user[email]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Login">
</form>
