<h1>Register</h1>

<form action="/register" method="post">
  First name:<br>
  <input type="text" name="user[first_name]"><br>
  Last name:<br>
  <input type="text" name="user[last_name]"><br>
  Email:<br>
  <input type="text" name="user[email]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Register">
</form>
